DATABASE_URL="postgresql://postgres:postgres@localhost:5432/miba_awards?schema=public"
ADMIN_EMAIL="admin@mibaawards.africa"
ADMIN_PASSWORD="miba-admin-2026"

JUDGE_EMAIL="judge@mibaawards.africa"
JUDGE_PASSWORD="miba-judge-2026"

SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER="mailer@example.com"
SMTP_PASS="change-me"
SMTP_FROM="MIBA Awards <no-reply@mibaawards.africa>"
